.container h1
{
	color: #428bca !important;
}

li a:hover
{
	color: #428bca !important;
}

.nav li a
{
	margin-top: 13px;
	font-size: 20px;
}

body
{
	padding-top: 100px;
	background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/45544/background-svg.svg) no-repeat center center fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

.myBackground 
{
  	background-color: rgba(255,255,255, 0.5);
  	color: inherit;
}

